.container {
  padding-top: 35px;
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 30vw auto;
}

.container > * {
  background-color: mediumseagreen;
}

#editor {
  height: 100vh;
  background-color: lightgrey;
}

ul {
 list-style-type: none;
}

li button {
  cursor: pointer;
  cursor: hand;
}

.message {
  background-color: #61DAF8;
  color: white;
  border: solid 1px #61DAF8;
  position: absolute;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
}
